<main class=" profile">
  <div class="pop-overlay"></div>
 <div class="box-limit row">
   <section class=" profile-info col-md-6">
     <img src="/src/app/Components/dashboard/photos/net.cocooncreations.digitaltree.png" alt="personal photo" class="img-thumbnail">
     <div class="info-box" >
       <h5 class="user-name"> Mahmoud Ahmed  <span style="color: silver">#Sir4GO</span> </h5>
       <p class="bio"> Software engineering</p>
       <p class="location">Cairo</p>
       <div class="achievements">
         <!--title for activate ui-jquery tooltip-->
         <img  title="your fans" src="/src/app/Components/dashboard/photos/Fans-Icon.png" alt="fans"> <span title=" fans" >20</span>
         <img  title="your rank" class="rank-image" src="/src/app/Components/dashboard/photos/star-icon_1953103.jpg" alt="rank"> <span title="rank"  class="rank-count">20</span>
       </div>
     </div>
   </section>
   <section class="profile-tool col-md-6">
           <button class="profile-btn">Edit Profile</button>
           <button class="setting-btn">Edit Settings</button>

   </section>
 </div>
</main>


