body{
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}
.block-style
{
  display: block;
}

.link-style
{
  text-decoration: none;
  color: snow;
  cursor: pointer;
}
.button-style
{
  background:none;
  outline-color: goldenrod;
  border: none;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  font-weight: bold;
  color: snow;
  height: 45px;
  border-radius: 2px;
}
.box-limit
{
  margin: auto;
  width: 1200px;

}

.topic-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 100;
}
.common-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  z-index: -1;

}

.close-btn
{
  background: none;
  border: none;
  color: black;
  margin: auto 20px;
  font-size: 20px;
}

